# --- Web Server Requirements ---
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
python-multipart==0.0.9

# --- Database ---
motor==3.3.2
dnspython==2.6.1

# --- Core ML Requirements ---
timm==1.0.26
pillow==12.1.1
onnxruntime==1.17.1
numpy==1.26.4

# --- PyTorch ---
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
python-dotenv==1.0.0
requests==2.31.0
